body, html {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #111;
}

a {
    color: #111;
}

a:hover {
    color: #77f;
    transition: 0.2s ease-in-out;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0;
    padding: 30px;
    font-family: 'Quicksand', sans-serif;
    background-color: #f1f1f1;
    box-shadow: 1px 1px 15px px black;
}

#description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 18px;
}

#tagline {
    margin-right: 15px;
}

#social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    min-height: 100px;
}

.icon {
    margin-right: 15px;
}

.icon svg {
    width: 50px;
    margin: 10px;
    transition: 0.1s ease-in-out;
}

.icon:hover svg {
     fill: #77f;
}

#facts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
}

.fact {
    margin-bottom: 5px;
    font-weight: bold;
    animation: slide-up 1s ease-in-out;
}

#another-fact {
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: #111;
    color: #fafafa;
    font-weight: bold;
    border-radius: 5px;
}

#another-fact[disabled] {
    cursor: default;
}

#another-fact:not([disabled]):hover {
    background-color: #77f;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
